<%- include('partials/header') %>
<div class="secrets">
  <div class="header">
    <h1 style="font-size: 200px">SeCrEtSs</h1>
  </div>

  <div class="button">
    <h1>Share Your Secret With Full Privacy</h1>
    <a class="header-btn" href="/submit" role="button">Submit</a>
  </div>

  <div class="jumbotron text-center" style="background-color: whitesmoke">
    <div class="container" style="background-color: whitesmoke">
      <div class="container-head" style="margin-bottom: 5rem">
        <i
          class="fas fa-key fa-6x"
          style="display: inline-block; margin-right: 30px"
        ></i>
        <h1 class="display-3" style="display: inline-block">
          Anonymous Secrets!
        </h1>
      </div>
      <div class="user-secret">
        <% usersWithSecrets.forEach(function(user){ %>
        <div class="secret-text">
          <i class="fas fa-user-circle"></i>
          <h1 class="an-user">Anonymous User</h1>
          <p class="user-text"><%=user.secret%></p>
        </div>
        <% }) %>
      </div>

      <hr />

      <a class="header-btn" href="/logout" role="button">Log Out</a>
      <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button" -->
    </div>
  </div>
</div>

<%- include('partials/footer') %>
